 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';


// Custom Styles
.container {
  margin: 0 auto;
  position: relative;
  width: 500px;
}

main {
  border: solid 1px;
  border-radius: 5px;
  height: auto;
  margin: 5em auto;
  max-width: 500px;
}



.welcome,
.login {
  text-align: center;
}

#login {
  height: 500px;
  position: absolute;
  top: 0;
  transition-duration: .5s;
  transition-delay: .3s, 0;
  width: 100%;

  &.hidden {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition-property: opacity, height;
  }
}

#chat-app {
  height: 500px;
  opacity: 1;
  position: absolute;
  top: 0;
  transition-duration: 2s;
  transition-delay: .5s;
  width: 100%;

  &.hidden {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition-property: opactiy, height;
  }

  .chat-list {
    height: 470px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      bottom: 30px;
      position: absolute;
      min-height: 30px;
      max-height: 467px;
      overflow: scroll;
      width: 100%
    }

    li {
      overflow: auto;
      border-top: 1px solid;
      width: 100%
    }

    .sent-info {
      border-right: solid 1px;
      display: inline-block;
      float: left;
      margin: 0;
      padding: .5em;
      width: 25%;
    }

    h3 {
      margin: 0;
      font-size: 1em;
    }

    .chat-info {
      display: inline-block;
      width: 75%
    }
  }

  .chat-form {
    position: absolute;
    bottom: 0;
    height: 30px;
    border-top: 1px solid;
    width: 100%;

    button {
      border-radius: 50%;
      border: 0;
    }
  }
}
